<h1><%= @user.name %></h1>
<%= @user.about_me %>
<%= link_to 'Edit your about me!', edit_user_path %>

<% if @user.avatar.attached? %>
  <%= cl_image_tag @user.avatar.key, height: 300, crop: :fill %>
<% end %>

<h3>Your orders!</h3>
<ul>
<% @user.orders.each do |order| %>
<li>Your ordered cake: <%= link_to order.item.name, item_order_path(order.item, order) %><br> Your message to the baker: <%= order.description %> </li>
  <% if order.item.photo.attached? %>
  <%= cl_image_tag order.item.photo.key, height: 300, crop: :fill %>
  <% end %>
<% end %>
</ul>

<h3>Your cakes!</h3>
<ul>
<% @user.items.each do |item| %>
<li><%= link_to item.name, item_path(item) %><br>Portion size:<%= item.portions %><br>Cake description: <%= item.description %></li>
  <% if item.photo.attached? %>
  <%= cl_image_tag item.photo.key, height: 300, crop: :fill %>
  <% end %>
<% end %>
</ul>


