<div class="container">
  <div class="profile">
    <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, crop: :fill, class: "about-me-avatar" %>
    <% end %>
    <div class="about-me-info">
      <h1 class="profile-text"><%= @user.name %></h1>
      <div class="edit-section">
        <p class="profile-text"><%= @user.about_me %> </p>
        <p ><%= link_to 'Edit your about me!', edit_user_path, class: "edit-show-user" %></p>
      </div>
    </div>
  </div>

  <h3 class="mb-5 mt-5">Your orders!</h3>
  <div class="cards-home mb-5">
    <% @user.orders.each do |order| %>
      <div class="card-home">
         <%= link_to "", item_order_path(order.item, order), class: "card-link" %>
        <% if order.item.photo.attached? %>
          <div class="card-home-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= order.item.photo.key %>')">
          </div>
        <% else %>
          <div class="card-home-image-d"><h2 class="home-logo">CAKE</h2>
          </div>
          <%#= cl_image_tag i.photo.key, height: 300, crop: :fill %>
        <% end %>
        <p><%= link_to order.item.name.capitalize, item_path(order.item), class: "card-home-link" %></p>
        <div class="card-price-btn">
            <p>£<%= order.item.cost %></p>
            <p class="card-portion">Portions: <%= order.item.portions %></p>
          </div>
      </div>
    <% end %>
  </div>

  <h3 class="mb-5 mt-5">Your cakes!</h3>
  <div class="cards-home mb-5">
    <% @user.items.each do |item| %>
      <div class="card-home">
         <%= link_to "", item_path(item), class: "card-link" %>
        <% if item.photo.attached? %>
          <div class="card-home-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= item.photo.key %>')">
          </div>
        <% else %>
          <div class="card-home-image-d"><h2 class="home-logo">CAKE</h2>
          </div>
          <%#= cl_image_tag i.photo.key, height: 300, crop: :fill %>
        <% end %>
        <p><%= link_to item.name.capitalize, item_path(item), class: "card-home-link" %></p>
        <div class="card-price-btn">
            <p>£<%= item.cost %></p>
            <p class="card-portion">Portions: <%= item.portions %></p>
          </div>
      </div>
    <% end %>
   </div>



</div>
