<div class="container">
  <h1 class="mb-4">Your order!</h1>

  <h3 class="mb-4">Now you can have your <%= @order.item.name%> and eat it!</h3>
  <div class="card-product">
    <% if @order.item.photo.attached? %>
      <%= cl_image_tag @order.item.photo.key, crop: :fill, class: "card-product-img" %>
    <% end %>
    <div class="card-product-infos">
      <p> The perfect occasion to enjoy your <%= @order.item.name%> is <%= @order.item.occasion %></p>
      <p>Your <%= @order.item.flavour%> will feed <%= @order.item.portions %> lucky people</p>
      <p>Your added message: <%= @order.description %></p>
    </div>
  </div>

</div>
