  <div class="home-banner" style="background-image: url(<%= image_path "background.jpg" %>);">
   <div class="home-form form-edit">
    <h3 class="text-center text-home">Have your cake and eat it</h3>
     <div class="form-bow text-left">
      <form action="/items">
        <div class= 'form-spacing'>
        <label for="">Select your flavour</label>
        <select name="flavour" id="flavour" class="home-form-item">
          <% @flavours.each do |flavour| %>
            <option value="<%= flavour %>"><%= flavour %></option>
          <% end %>
        </select>
      </div>
      <div class= 'form-spacing'>
        <label for="">What's the occasion?</label>
        <select name="occasion" id="occasion" class="home-form-item">
          <% @occasions.each do |occasion| %>
            <option value="<%= occasion %>"><%= occasion %></option>
          <% end %>
        </select>
      </div>
      <div class= 'form-spacing'>
        <label for="">Choose your portion size</label>
        <select name="portions" id="portions" class="home-form-item" placeholder="Portions">
          <% @portions.each do |portion| %>
            <option value="<%= portion %>"><%= portion %></option>
          <% end %>
        </select>
      </div>
        <input class= "submit-btn" type="submit" class="home-form-item">
      </form>
    </div>
   </div>
  </div>
  <div class="cards-box">


    <h2 class="cards-home-title">Featured cakes</h2>


    <div class="cards-home">
      <% @items.last(3).each do |i| %>
        <div class="card-home">
          <% if i.photo.attached? %>
            <div class="card-home-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= i.photo.key %>')">
            </div>
          <% else %>
            <div class="card-home-image-d"><h2 class="home-logo">CAKE</h2>
            </div>
          <% end %>
          <p><%= link_to i.name.capitalize, item_path(i), class: "card-home-link" %></p>
          <div class="card-price-btn">
            <p class="card-text price">£<%= i.cost %></p>
            <p class="link-home-btn"><%= link_to "More info", item_path(i), class: "card-home-link2" %></p>
          </div>
        </div>
      <% end %>
    </div>


    <h3 class="index-link-home"><%= link_to "View all", items_path, class: "index-link-home-text text-center" %></h3>
  </div>


