  <div class="home-banner" style="background-image: url(<%= image_path "background.jpg" %>);">
   <div class="home-form form-edit">
    <h3 class="text-center text-home">Have your cake and eat it</h3>
     <div class="form-bow text-left">





      <%= simple_form_for :search, url: items_path, method: :get do |f| %>
        <%= f.input :flavour, label: "Choose your flavour", collection: $flavours %>
        <%= f.input :occasion, label: "Choose your occasion", collection: $occasions %>
        <%= f.input :portions, label: "Choose your portions", collection: $portions %>
        <%= f.submit :search, class: "btn btn-primary" %>

      <% end %>






    </div>
   </div>
  </div>
  <div class="cards-box">


    <h2 class="cards-home-title">Featured cakes</h2>


    <div class="cards-home">
      <% @items.last(3).each do |i| %>
        <div class="card-home">
          <% if i.photo.attached? %>
            <div class="card-home-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= i.photo.key %>')">
            </div>
          <% else %>
            <div class="card-home-image-d"><h2 class="home-logo">CAKE</h2>
            </div>
            <%#= cl_image_tag i.photo.key, height: 300, crop: :fill %>
          <% end %>
          <p><%= link_to i.name.capitalize, item_path(i), class: "card-home-link" %></p>
          <div class="card-price-btn">
            <p class="card-text price">£<%= i.cost %></p>
            <p class="link-home-btn"><%= link_to "More info", item_path(i), class: "card-home-link2" %></p>
          </div>
        </div>
      <% end %>
    </div>


    <h3 class="index-link-home"><%= link_to "View all", items_path, class: "index-link-home-text text-center" %></h3>
  </div>


