  <div class="home-banner">
   <div class="home-form">
     <div class="form-bow">
      <form action="/items">
        <select name="portions" id="portions" class="home-form-item" placeholder="Portions">
          <% @portions.each do |portion| %>
            <option value="<%= portion %>"><%= portion %></option>
          <% end %>
        </select>
        <select name="flavour" id="flavour" class="home-form-item">
          <% @flavours.each do |flavour| %>
            <option value="<%= flavour %>"><%= flavour %></option>
          <% end %>
        </select>
        <select name="occasion" id="occasion" class="home-form-item">
          <% @occasions.each do |occasion| %>
            <option value="<%= occasion %>"><%= occasion %></option>
          <% end %>
        </select>
        <input type="submit" class="home-form-item">
      </form>
    </div>
   </div>
   <div>
    <h2>Featured cakes</h2>
    <ul>
      <% @items.sample(3).each do |i| %>
      <li>
        <% if i.photo.attached? %>
          <%= cl_image_tag i.photo.key, height: 300, crop: :fill %>
        <% end %>
        <p><%= link_to i.name, item_path(i) %></p>
        <p><%= i.description %></p>
        <p><%= i.cost %> £</p>
      </li>
      <% end %>
    </ul>

    <%= link_to "View all", items_path %>
   </div>
  </div>

