<form action="/items">
  <select name="portions" id="portions" class="home-form">
    <% @portions.each do |portion| %>
      <option value="<%= portion %>"><%= portion %></option>
    <% end %>
  </select>
  
  <select name="flavour" id="flavour" class="home-form">
    <% @flavours.each do |flavour| %>
      <option value="<%= flavour %>"><%= flavour %></option>
    <% end %>
  </select>
 
  <select name="occasion" id="occasion" class="home-form">
    <% @occasions.each do |occasion| %>
      <option value="<%= occasion %>"><%= occasion %></option>
    <% end %>
  </select>
  <select name="portions" id="portions">
    <% @portions.each do |portion| %>
      <option value="<%= portion %>"><%= portion %></option>
    <% end %>
  <input type="submit">
</form>

<h2>Featured cakes</h2>
<ul>
  <% @items.sample(3).each do |i| %>
  <li>
    <%= cl_image_tag i.photo.key, height: 300, crop: :fill %>
    <p><%= i.flavour %></p>
    <p><%= i.description %></p>
  </li>
  <% end %>
</ul>

<%= link_to "View all", items_path %>
