  <div class="home-banner" style="background-image: url(<%= image_path "background.jpg" %>);">
   <div class="home-form form-edit">
    <h3 class="text-center text-home">Have your cake and eat it</h3>
     <div class="form-bow text-left">





      <%= simple_form_for :search, url: items_path, method: :get do |f| %>
        <%= f.input :flavour, label: "Choose your flavour", :required => false, collection: $flavours %>
        <%= f.input :occasion, label: "Choose your occasion", :required => false, collection: $occasions %>
        <%= f.input :portions, label: "How many people?", :required => false, collection: $portions %>
        <%= f.submit :search, class: "submit-btn" %>

      <% end %>






    </div>
   </div>
  </div>
  <div class="cards-box">



    <div class="container mb-5">
      <div class="cards-title-link">
        <h2 class="cards-home-title">Featured cakes</h2>
        <h3 class="index-link-home"><%= link_to "View all", items_path, class: "index-link-home-text text-center" %></h3>
      </div>

      <div class="cards-home">
        <% @items.last(3).each do |i| %>
          <div class="card-home">
            <%= link_to "", item_path(i), class: "card-link"  %>

            <% if i.photo.attached? %>
              <div class="card-home-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= i.photo.key %>')">
              </div>
            <% else %>
              <div class="card-home-image-d"><h2 class="home-logo">CAKE</h2>
              </div>
            <% end %>
            <p><%= link_to i.name.capitalize, item_path(i), class: "card-home-link" %></p>
            <div class="card-price-btn">
              <p >£<%= i.cost %></p>
              <p class="card-portion"><%= i.portions %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>


