<!-- <form action="" id="search_bar">
  <input type="text" id="search_text">
  <input type="submit">
</form> -->

  <%= form_tag items_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a cake"
     %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<% if @items.empty? %>
  <h1>Nothing to see here</h1>
  <%= link_to "View all cakes", items_path %>
<% end %>

<% @items.each do |item| %>
  <p>
    <strong><%= item.name %></strong>
    <%= item.flavour %>
    <%= item.portions %>
    <%= item.occasion %>
  </p>

<% end %>


