<!-- <form action="" id="search_bar">
  <input type="text" id="search_text">
  <input type="submit">
</form> -->

<div class="search-bar-new">
  <%= form_tag items_path, method: :get, class: "" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control search-index",
    placeholder: "Search for a cake..."
     %>
  <% end %>
</div>

<% if @items.empty? %>
<div>
  <h3 class= 'text-center items-text'>Unfortunately, we do not have a cake to match your search.</h3>
</div>
   <h3 class="index-link-home"><%= link_to "View all", items_path, class: "index-link-home-text text-center" %></h3>
  <% else %>
  <h2 class="cards-home-title text-center all-cakes">All cakes</h2>
<% end %>

<div class="cards-box container">



  <div class="cards-home">
    <% @items.each do |i| %>

        <div class="card-home">
          <!-- filter above card done in card.scss -->
          <%= link_to "", item_path(i), class: "card-link" %>
          <% if i.photo.attached? %>
            <div class="card-home-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= i.photo.key %>')"></div>
          <% else %>
            <div class="card-home-image-d">
              <h2 class="home-logo">CAKE</h2>
            </div>
          <% end %>
          <p><%= link_to i.name.capitalize, item_path(i), class: "card-home-link" %></p>
          <div class="card-price-btn">
            <p>£<%= i.cost %></p>
            <p class="card-portion">Portions: <%= i.portions %></p>
          </div>
        </div>

    <% end %>
  </div>
</div>







