<h1>Add a Baked Good!</h1>
<%= simple_form_for @item do |f| %>
  <%= f.input :name %>
  <%= f.input :flavour , collection: $flavours %> %>
  <%= f.input :occasion, collection: $occasions %>
  <%= f.input :portions, collection: $portions %>
  <%= f.input :description %>
  <%= f.input :cost %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
