<h1><%= @item.name %></h1>
<% if @item.photo.attached? %>
  <div class="card-show-image" style="background-image: url('https://res.cloudinary.com/dtoehsudt/image/upload/v1582804201/<%= @item.photo.key %>')">
  </div>
<% else %>
  <div class="card-show-image-d"><h2 class="home-logo">CAKE</h2>
  </div>
<% end %>
<p><%= @item.description %></p>
<% if @item.user == current_user %>
  <p class="link-home-btn"><%= link_to 'Delete your cake!', item_delete_path(@item), method: :delete  %></p>
<% else %>
  <p class="link-home-btn"><%= link_to "Order this cake!", new_item_order_path(@item) %></p>
<% end %>

